header {
    background-color: chartreuse;
    text-align: center;

}

body {
    text-align: center;
}

div { 
    font-size: 150%;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
.a1 { 
    background-color: aqua;

}

.a2 { 
    background-color: blue;

}

.a3 { 
    background-color: rgb(102, 210, 30);

}

.a4 { 
    background-color: crimson;

}

@media screen and (max-width: 683px) {
        div {
            width: 150px;
            height: 150px;
        }
    }
    @media screen and (max-width: 360px) {
        div {
            width: 150px;
            height: 200px;
        }
    }

